@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;500;700&family=Rubik:ital,wght@1,300&display=swap');


:root{
    /* -- font family -- */
    --roboto:'Roboto', sans-serif;
    
    /* --- Space --- */
    --space_0:0px;
    --space_1:1px;
    --space_2:2px;
    --space_3:3px;
    --space_4:4px;
    --space_5:5px;
    --space_6:6px;
    --space_7:7px;
    --space_8:8px;
    --space_9:9px;
    --space_10:10px;
    --space_11:11px;
    --space_12:12px;
    --space_13:13px;
    --space_14:14px;
    --space_15:15px;
    --space_16:16px;
    --space_17:17px;
    --space_18:18px;
    --space_19:19px;
    --space_20:20px;
    --space_22:22px;
    --space_25:25px;
    --space_30:30px;
    --space_35:35px;
    --space_40:40px;
    
    /* -- color ---- */
    --dark:#000000;
    --gray:#b8b8b8;
    --white:#fff;
    
    /* --- border --- */
    --border-gray:1px solid var(--gray);
    
    /* --- font size --- */
    --footer-header-font-size:var(--space_14);
    --footer-paragraph-font-size:var(--space_13);
    --footer-anchor-font-size:var(--space_12);
}


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: var(--roboto);
}

.container{
    max-width: 1420px;
    width: 100%;
    padding: var(--space_0) var(--space_22);
}

.paragraph-tag{
    font-size: var(--footer-paragraph-font-size);
    color: var(--gray);
    line-height: 18px;
}
.anchor-tag{
    font-size:var(--space_13);
    display: inline-block;
    text-decoration: none;
}
a{
    display: inline-block;
    text-decoration: none;
}
.footer-header{
    font-size: var(--footer-header-font-size);
    color:var(--white);
    padding-bottom: 20px;
}
ul{
    list-style: none;
    padding: 0;
    margin: 0;
}


/* =============    Footer Start Here   =============== */
footer{
    background-color: var(--dark);
}
.footer-section-wraper{
    width: 320px;
    margin: 0 auto;
}
/* --- footer top --- */
.footer-top{
    display: flex;
    flex-direction: column;
    gap: 25px;
}
.footer-logo-container{
    padding: 40px 0;
    display: flex;
    flex-direction: column;
    gap:15px;
    align-items: center;
    justify-content: center;
}

.footer-logo-text p{
    text-align: center;
    line-height:22px;
}

/* --- footer social icons --- */
.social-icons{
    display: flex;
    gap:16px;
}
.social-icons i{color: var(--gray);}

/* --- footer-menu-container --- */
.footer-menu-container{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    row-gap:45px;
    column-gap:65px;
}
.footer-menu-item{
    display: flex;
    justify-content: center;
    text-align: center;
}
    
.footer-menu-item-nav-list ul {
    text-align: center;
    display: flex;
    flex-direction: column;
    gap:10px;
}
.footer-menu-item-nav-list a{
    color: var(--gray);
}



/* --- footer  bottom --- */
.footer-bottom{
    padding: 15px 0;
    border-top: var(--border-gray);
}
.footer-bottom p{
    text-align: center;
}



/* ========= responsive part start here -============ */
@media(min-width:768px){
    :root{
        --footer-header-font-size:var(--space_16);
        --footer-paragraph-font-size:var(--space_14);
        --footer-anchor-font-size:var(--space_13);
    }
    
    .footer-section-wraper{
        width: 570px;
    }
    .footer-menu-container{
        width: 100%;
        grid-template-columns: repeat(4,1fr);
        column-gap: 20px;
        align-items: start;
    }
}

@media(min-width:1300px){
    :root{
        --footer-header-font-size:var(--space_17);
    }
    
    .container{
        padding:0 100px ;
    }
    .footer-section-wraper{
        width: 100%;
    }
    .footer-top{
        flex-direction: row;
        align-items: center;
        gap:50px
    }
    .footer-logo-container{
        width: 320px;
        align-items: start;
    }
    .footer-logo-text .paragraph-tag{
        text-align: left;
        line-height: 25px;
    }
    .footer-menu-container{
        flex-grow: 1;
    }
    .footer-menu-item {
        display: flex;
        align-items: start;
        justify-content: start;
        text-align:left;
    }
    .footer-menu-item li{
        text-align: left;
    }
}